$color-pink: #FF3E79;
$color-pink-light: #ffd9e5;
$color-white: #fff;
$color-text-regular: #1B1C21;
$color-text-light: #7E7E82;
$color-aqua: #41F6D7;
$color-aqua-light: #B8FFEC;
$color-aqua-extralight: #D9FFF5;
$color-background: #F8F8F8;
$color-pagination: #DDDDDD;
$color-pagination-active: #B5B6BC;
$color-gray: #eaeaea;

$font-main: "TT-Lakes", sans-serif;


